<section class="text-center">
	<div class="container">
		<h2 class="text-uppercase space-xs-NS-40">Productos</h2>
	</div>
</section>
<%= render 'shared/products' %>
<%= render 'shared/origin' %>
<%= render 'shared/contact_box' %>