<section class="content bg-bottle-in-a-purse text-center">
	<div class="container">
		<h2 class="text-uppercase">Contactanos</h2>
		<p>Suscribite gratis y mantenete en contacto.</p>
		<hr class="space-xs-N-40 center-max-250">
		<p class="center-max-290">Enterate de todo, recibi informacion exclusiva sobre promociones, lanzamientos y mas.</p>
		<hr class="space-xs-S-40 center-max-250">
		<%= link_to 'Contacto', new_contact_path, class: 'btn btn-info' %>
	</div>
</section>