<section class="content text-center">
	<div class="container">
		<h2 class="text-uppercase">Historia y Filosofía</h2>
		<p>Celebra la vida, celebra la historia con nosotros</p>
		<%= image_tag 'couple-and-wine-collage.jpg', class: 'cover space-xs-NS-40' %>
		<p class="text-left">La vida es para disfrutarla, ¿no crees? Eso pensamos nosotros, tal vez porque vivimos en un lugar precioso, el Penedès, justo al suroeste de la vibrante Barcelona. Y qué mejor manera para disfrutar que con nuestro cava. No existe mejor augurio que ese sonido del tapón mientras descorchamos una botella. O ese cosquilleo tras el primer sorbo. Cualquier momento es algo más divertido y memorable cuando se celebra con nuestras chispeantes burbujas. Aprovecha tu oportunidad y disfruta de cada momento.<br><em>Celebra la vida.</em></p>
	</div>
</section>