<section class="content text-center">
	<div class="container">
		<h2 class="text-uppercase">Novedades</h2>
		<p class="space-xs-S-40">Tips, eventos, y lanzamientos. Enterate de todo.</p>
		<div class="row">
			<%= render @articles %>
		</div>
	</div>
</section>