<section class="content <%= content_class rescue '' %>">
	<div class="container narrow">
		<h4 class="text-uppercase">Origen</h4>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<%= image_tag 'cellar.jpg', class: 'pull-left rect-xs-170 space-xs-E-15' %>
				<p>Nuestro hogar es el Penedès, conocido también como el país del cava, que se encuentra a poco más de media hora de Barcelona. Es unenclave privilegiado, protegido de los vientos de levante por el macizo del Garraf y de las brisas septentrionales por la escarpada sierra de Montserrat.</p>
			</div>
			<div class="col-xs-12 col-sm-6">
				<p>La naturaleza nos regala un suelo fértil y muchas horas de sol en un paisaje visiblemente ondulante.De este magnífico entorno surge nuestro espumoso: el cava. Se trata de una Denominación de Origen protegida, en la que sólo se pueden emplear determinadas variedades de uva y seguir el llamado “método tradicional”, mediante el cual el vino pasa por una segunda fermentación en botella. Todo ello tiene lugar en nuestra bodega, en la región vinícola de Sant Sadurní d’Anoia, donde cada año llegan nuestras uvas y las de 2.000 socios productores.</p>
			</div>
		</div>
	</div>
</section>