<% content_for :extra_js do %>
	$('#productsSlider').slider();
<% end %>

<section class="products" id="products">
	<div class="slider" id="productsSlider">
		<div class="slider-controls">
			<%= link_to '#', class: 'slider-prev' do %>
				<i class="icon icon-chevron-left"></i>
			<% end %>
			<%= link_to '#', class: 'slider-next' do %>
				<i class="icon icon-chevron-right"></i>
			<% end %>
		</div>
		<%= render @products %>
	</div>
</section>