<section class="content">
	<div class="container">
		<h1 class="text-uppercase text-center">Contactanos</h1>
		<p class="text-center space-xs-S-40">Enterate de todo, recibi informacion exclusiva sobre promociones, lanzamientos y mas.</p>
		<%= render 'form' %>
	</div>
</section>