.space-xs-NS-40 { margin-top: 40px; margin-bottom: 40px; }

.space-xs-N-20 { margin-top: 20px; }
.space-xs-N-30 { margin-top: 30px; }
.space-xs-N-40 { margin-top: 40px; }
.space-xs-N-60 { margin-top: 60px; }

.space-xs-E-15 { margin-right: 15px; }
.space-xs-E-20 { margin-right: 20px; }

.space-xs-S-20 { margin-bottom: 20px; }
.space-xs-S-30 { margin-bottom: 30px; }
.space-xs-S-40 { margin-bottom: 40px; }
.space-xs-S-60 { margin-bottom: 60px; }

.rect-xs-130 { width: 130px; height: auto; }
.rect-xs-170 { width: 170px; height: auto; }

.col-space-10 { margin-left: -10px; margin-right: -10px; }
.col-space-10>div { padding-left: 10px; padding-right: 10px; }

.center-max-250 { max-width: 250px; margin-right: auto; margin-left: auto; }
.center-max-290 { max-width: 290px; margin-right: auto; margin-left: auto; }