.space-xs-NS-40 { margin-top: 40px; margin-bottom: 40px; }

.space-xs-N-20 { margin-top: 20px; }
.space-xs-N-30 { margin-top: 30px; }
.space-xs-N-40 { margin-top: 40px; }

.space-xs-E-15 { margin-right: 15px; }

.space-xs-S-20 { margin-bottom: 20px; }
.space-xs-S-30 { margin-bottom: 30px; }
.space-xs-S-40 { margin-bottom: 40px; }

.rect-xs-130 { width: 130px; height: auto; }
.rect-xs-170 { width: 170px; height: auto; }

.center-max-250 { max-width: 250px; margin-right: auto; margin-left: auto; }
.center-max-290 { max-width: 290px; margin-right: auto; margin-left: auto; }