<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-md-push-3 text-center">
				<%= render 'shared/nav' %>
			</div>
			<div class="col-xs-12 col-md-3 col-md-pull-6">
				<ul class="list-inline">
					<li><%= link_to '&copy; Freixenet 2015'.html_safe %></li>
					<li><%= link_to 'Aviso legal', nil %></li>
				</ul>
			</div>
		</div>
	</div>
</footer>